/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* 2 */
  appearance: button;
}

button,
[type=button],
[type=reset],
[type=submit] {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  -webkit-appearance: button;
  appearance: button;
}
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
body {
  background-color: white;
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  appearance: textfield; /* Fix for compatibility */ 
  outline-offset: -2px; /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  color: inherit; /* 2 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/*--------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------Variable Color-----------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------Font---------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------*/
@font-face {
  font-family: "MartianMono Bold";
  src: url(../font/MartianMono-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "MartianMono Regular";
  src: url(../font/MartianMono-Regular.ttf);
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-family: "MartianMono Bold";
}

p,
a {
  font-family: "MartianMono Regular";
}

/* --------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------- */
/*---------------------------------------CSS Global--------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------- */
body {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-rows: 10% 80% 10%;
  width: 100%;
}

.group {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow-y: hidden;
  justify-items: center;
  width: 100%;
}

.group div {
  grid-area: 1/1/2/2;
}

.front {
  z-index: 2;
  opacity: 1;
}

.background {
  background-color: #1fb1e6;
  opacity: 0.5;
  z-index: 0;
}

/* ------------------------------------------------------------------------------------------------------ */
/* ---------------------------------------- Header ------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
header {
  grid-row: 1/2;
  background-color: #1fb1e6;
  height: 5rem;
}

.div-logo-perso {
  display: block;
}

.logo-perso {
  height: 4rem;
  width: 4rem;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.logo-perso:hover {
  cursor: pointer;
  opacity: 10;
  transition: 0.5s ease;
}

.div-logo-perso p {
  color: aliceblue;
}

.div-nav input[type=checkbox]#nav-check {
  display: none;
}

#menu-nav ul li a:hover {
  cursor: pointer;
  transition: 0.4s;
  color: #020024;
  transition: 0.5s ease;
}

/* --------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------- Main--------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */
main {
  grid-row: 2/3;
}

.div-title {
  text-align: center;
}

.div-title h1 {
  font-size: 2rem;
  text-align: center;
  color: #1fb1e6;
  margin: 5rem 0 4rem 0;
}

/* -------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------- Css Page ------------------------------------------------------ */
/* -------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------- Home(index.html) ---------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------- */
.main-home {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
}

.div-home-img {
  background-image: url(../img/picture/home-page.jpg);
  background-repeat: no-repeat;
  background-position: center;
  position: static;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1/1/2/2;
}

.div-home-img h1 {
  color: aliceblue;
  text-shadow: 0.2rem 0.2rem #1fb1e6;
}

.div-home-citation {
  grid-area: 2/1/3/2;
  margin: 2rem auto;
  width: 100%;
  overflow: hidden;
}

.div-citation {
  display: flex;
  justify-content: center;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.div-citation #citation {
  color: aliceblue;
  font-style: italic;
  text-align: center;
}

.div-citation #auteur {
  color: aliceblue;
  font-style: italic;
  margin: 1rem;
  text-align: end;
}

/* ----------------------------------------------------------------------------------------------------- */
/* ---------------------------------------- About ------------------------------------------------------ */
/* ----------------------------------------------------------------------------------------------------- */
.main-about {
  color: #1fb1e6;
  display: grid;
  grid-template-columns: 1fr;
  grid-row: repeat(4, auto);
  align-items: center;
  justify-self: center;
  justify-items: center;
  margin: 0 1rem;
}

.main-about .div-title {
  grid-row: 1/2;
}

.div-about {
  margin: 3rem 0 3rem 0;
  height: 80%;
  justify-items: center;
  align-items: center;
}

.picture {
  grid-column: 1/2;
  grid-row: 3/4;
}

.div-bio,
.div-comp,
.div-picture {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.div-picture img {
  height: 80%;
  width: 80%;
}

.bio {
  grid-row: 2/3;
  grid-column: 1/2;
}

.competance {
  grid-row: 4/5;
  grid-column: 1/2;
}

.div-comp {
  margin-bottom: 3rem;
}

.div-bio,
.div-comp {
  text-align: justify;
  color: aliceblue;
}

.div-bio h2,
.div-comp h2 {
  text-align: center;
  font-size: 1rem;
}

.div-bio p {
  font-size: 0.6rem;
}

.div-bio p {
  padding: 0 1rem;
}

.div-bio p a {
  font-size: 0.5rem;
  font-style: italic;
  color: #020024;
  padding: 0;
  margin: 0;
}

.div-bio p a:hover {
  color: aliceblue;
  transition: 0.5s ease;
}

.list-comp {
  margin: 0;
  padding: 0;
}

.list-comp ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.list-comp ul li {
  font-size: 2rem;
  color: #1fb1e6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.progresse-bar-border {
  border: 0.1rem solid aliceblue;
  width: 12rem;
  height: 1.5rem;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  background-color: aliceblue;
  margin: 0.5rem;
}

.progresse-bar {
  height: 1.5rem;
  background-color: #1fb1e6;
  border-radius: 0.3rem;
  z-index: 0;
}

#html {
  width: 65%;
}

#js {
  width: 60%;
}

#php {
  width: 40%;
}

#sql {
  width: 20%;
}

#git {
  width: 50%;
}

#bootstrap {
  width: 50%;
}

#react {
  width: 45%;
}

#wordpress {
  width: 45%;
}

.list-comp ul li {
  color: aliceblue;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------- Realisation ------------------------------------------------------ */
/* ----------------------------------------------------------------------------------------------------------- */
.main-realisation {
  margin: 0 1rem 0 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  grid-gap: 2rem;
  align-content: start;
}

.vue-arcticle {
  grid-area: 2/1/3/2;
  height: 100%;
  width: 100%;
  margin: 0 1.5rem;
  margin-bottom: 2rem;
}

.div-realisation {
  height: 90%;
  padding: 2.5rem 0;
  margin: 2.5rem 0;
  margin-bottom: 2rem;
}

.div-realisation-section {
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-flow: row wrap;
  height: 100%;
  min-width: 20rem;
  width: 90%;
  padding: 1rem 0;
  margin-bottom: 2rem;
}

.overlay-image {
  position: relative;
  width: 18rem;
  height: auto;
  z-index: 5;
  margin: 1rem;
}

.overlay-image .image {
  display: block;
  width: 100%;
  height: 13.5rem;
}

.overlay-image .text h2,
.overlay-image .text p {
  color: #1fb1e6;
  line-height: 1.5em;
  text-shadow: 2px 2px 2px #000;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.overlay-image .text h2 {
  font-size: 2rem;
}

.overlay-image .text p {
  font-size: 1.2rem;
}

.overlay-image .hover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
}

.overlay-image:hover .hover {
  opacity: 1;
}

.overlay-image .normal {
  transition: 0.5s ease;
}

.overlay-image:hover .normal {
  opacity: 0;
}

.overlay-image .hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* --------------------------------------------------------------------------------------------------- */
/* ---------------------------------------- Vue ------------------------------------------------------ */
/* --------------------------------------------------------------------------------------------------- */
.main-vue {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.div-description-vue {
  background-color: #1fb1e6;
  opacity: 0.5;
  padding: 0.5rem 0;
  margin: 1.5rem 0 3rem 0;
}

.div-description-vue p {
  color: aliceblue;
  font-size: 0.8rem;
  text-align: center;
  padding: 0.5rem;
}

/* ------------------------------------------------------------------------------------------------------ */
/* ---------------------------------------- Contact------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
.main-contact {
  margin: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.div-form,
.div-description {
  background-color: #1fb1e6;
  opacity: 0.5;
  margin: 2rem 0;
}

.div-description p {
  padding: 1rem;
  text-align: center;
  font-size: 0.8rem;
}

.div-form form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(11, auto);
}

.div-form form label,
.div-description p {
  color: aliceblue;
  font-size: 1rem;
  margin: 0 1rem;
}

.div-form form label {
  text-align: center;
  margin-top: 1rem;
}

.div-form form input,
.div-form form textarea {
  justify-self: center;
  margin: 0 1rem 1rem 1rem;
}

#send {
  justify-self: center;
  margin: 1.5rem 1rem 2rem 1rem;
  font-family: "MartianMono Bold";
}

/* ------------------------------------------------------------------------------------------------------ */
/* ---------------------------------------- Footer ------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
footer {
  grid-row: 3/4;
  background-color: #1fb1e6;
}

.logo-footer h2 {
  color: aliceblue;
}

.logo-footer,
.logo-footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-footer {
  flex-direction: column;
  padding: 0;
}

.logo-footer ul {
  padding: 0;
  flex-direction: row;
}

.logo-footer ul li {
  margin: 0.5rem;
  padding: 0;
}

#logo-linkedin svg,
#logo-github svg {
  stroke: aliceblue;
  fill: aliceblue;
}

#logo-github svg {
  height: 3rem;
  width: 3rem;
}

#logo-linkedin svg {
  height: 4rem;
  width: 4rem;
}

#logo-linkedin svg:hover,
#logo-github svg:hover {
  stroke: #020024;
  fill: #020024;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------- @mediaQuery ---------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */
/* Screen max 320px */
@media (max-width: 20rem) {
  .container {
    grid-template-columns: 1fr;
  }
  header,
  main,
  footer {
    grid-column: 1/2;
  }
  .div-home-img {
    height: 20rem;
  }
  .main-vue {
    margin: 0 1rem;
  }
  .div-picture-vue a img {
    height: 10rem;
    width: 14rem;
  }
  .div-description-vue {
    width: 14rem;
  }
}
/* ------------------------------------------------------------------------------------------------------------- */
/* Screen min 321px and max 768px*/
@media (min-width: 20.063rem) and (max-width: 48rem) {
  .div-comp h2,
  .div-bio h2 {
    font-size: 1.3rem;
  }
  .list-comp ul li,
  .div-bio p {
    font-size: 0.8rem;
  }
  .div-bio p a {
    font-size: 0.7rem;
  }
}
/* ------------------------------------------------------------------------------------------------------------- */
/* Screen min 320px and max 480px */
@media (min-width: 20rem) and (max-width: 30rem) {
  .container {
    grid-template-columns: 1fr;
  }
  header,
  main,
  footer {
    grid-column: 1/2;
  }
  .div-home-img {
    height: 20rem;
  }
  .main-vue {
    margin: 0 1rem;
  }
  .div-picture-vue a img {
    height: 14rem;
    width: 18rem;
  }
  .div-description-vue {
    width: 18rem;
  }
}
/* ------------------------------------------------------------------------------------------------------------- */
/* Screen max 480px */
@media (max-width: 30rem) {
  .div-picture-background {
    height: 12rem;
    width: 10rem;
  }
  .overlay-image {
    width: 14rem;
    height: 13.5rem;
  }
  .vue-arcticle,
  .vue-arcticle-background {
    margin: 2.5rem 0.5rem 4rem 0.5rem;
    padding: 0.5rem 0.5rem;
  }
}
/* ------------------------------------------------------------------------------------------------------------- */
/* Screen min 480px */
@media (min-width: 30rem) {
  .div-form form {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, auto);
  }
  .label-name {
    grid-row: 1/2;
  }
  .label-info {
    grid-row: 3/4;
  }
  .div-form form {
    padding: 0 2rem;
  }
  .div-form form .label-info,
  .div-form form .label-name {
    justify-self: start;
  }
  .div-form form .label-info,
  .div-form form .label-name {
    margin-top: 1.5rem;
  }
  .div-form form input {
    margin-bottom: 1.5rem;
    justify-self: stretch;
  }
  .div-form .label-message {
    margin: 1.5rem;
  }
  .div-form form #message {
    grid-row: 6/7;
    grid-column: 1/3;
    justify-self: stretch;
  }
  #send {
    grid-row: 7/8;
  }
  .label-message,
  #message,
  #send {
    justify-self: center;
    grid-column: 1/3;
  }
}
/* ------------------------------------------------------------------------------------------------------------- */
/* Screen min 480px and max 768px */
@media (min-width: 30rem) and (max-width: 48rem) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  header,
  main,
  footer {
    grid-column: 1/3;
  }
  .div-home-img {
    height: 32rem;
  }
  .main-vue {
    margin: 0 1.5rem;
  }
  .div-picture-vue a img {
    height: 20rem;
    width: 24rem;
  }
  .div-description-vue {
    width: 24rem;
  }
  .div-about {
    width: 80%;
    height: 80%;
  }
}
/* ------------------------------------------------------------------------------------------------------------- */
/* Screen max 768px */
@media (max-width: 48rem) {
  .nav-menu {
    padding: 0;
  }
  #menu-nav ul {
    display: block;
    width: 100%;
    margin: 0 auto;
    list-style: none;
    position: absolute;
    left: 0;
    top: 5rem;
    height: auto;
    max-height: 0%;
    overflow: hidden;
    transition: max-height 1s;
    z-index: 2;
  }
  #menu-nav ul li a {
    display: block;
    width: 100%;
    padding: 1em;
    color: aliceblue;
    background: #1fb1e6;
    text-align: center;
    text-decoration: none;
  }
  #togle-logo {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: inline-block;
    cursor: pointer;
    padding: 0.5rem 0.5rem;
    color: aliceblue;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
  }
  #togle-logo span {
    display: block;
    /* z-index: 2; */
    width: 1.5rem;
    height: 0.2rem;
    background-color: aliceblue;
    margin: 0.32rem 0;
    transition: 1s;
  }
  .div-nav input[type=checkbox]#nav-check:checked ~ label #sp-1 {
    transform: rotate(-45deg) translate(-0.25rem, 0.5rem);
  }
  .div-nav input[type=checkbox]#nav-check:checked ~ label #sp-2 {
    opacity: 0;
  }
  .div-nav input[type=checkbox]#nav-check:checked ~ label #sp-3 {
    transform: rotate(45deg) translate(-0.25rem, -0.5rem);
  }
  .div-nav input[type=checkbox]#nav-check:checked ~ label {
    padding: 0.5rem 0.5rem 0.5rem 0.2rem;
  }
  .div-nav input[type=checkbox]:checked ~ #menu-nav ul {
    max-height: 100%;
    transition: max-height 1s;
  }
}
/* ------------------------------------------------------------------------------------------------------------- */
/* Screen min 768px */
@media (min-width: 48rem) {
  .div-title h1 {
    font-size: 4rem;
  }
  .div-home-img {
    height: 40rem;
  }
  .div-home-citation {
    width: 45rem;
    margin-left: auto;
    margin-right: auto;
  }
  .div-home-citation div {
    padding: 1rem 2rem;
  }
  .main-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 35% 35% 10%;
    row-gap: 2.5rem;
    margin-left: 6rem;
    margin-right: 6rem;
  }
  .div-title,
  .competance {
    grid-column: 1/3;
  }
  .div-about {
    width: 70%;
    height: 70%;
  }
  .picture,
  .bio {
    grid-row: 2/3;
    height: 70%;
    width: 80%;
  }
  .picture {
    grid-column: 1/2;
    margin-right: 3rem;
  }
  .bio {
    grid-column: 2/3;
    margin-left: 3rem;
  }
  .div-picture img {
    height: 70%;
    width: 70%;
  }
  .div-bio p {
    padding: 0 2rem;
    margin: 0 0 0.7rem 0;
  }
  .div-bio p a {
    font-size: 0.6rem;
  }
  .competance {
    width: 90%;
    grid-row: 3/4;
  }
  .list-comp {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
    padding-bottom: 6rem;
  }
  .div-title {
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .div-comp-group {
    grid-row: 3/4;
    justify-self: center;
    width: 90%;
    padding-left: 0;
    padding-right: 0;
  }
  .div-bio h2,
  .div-comp h2 {
    font-size: 1rem;
    padding: 1rem 0 0 0;
  }
  .list-comp ul li p {
    font-size: 1rem;
  }
  .list-comp ul {
    padding-left: 0;
    padding-bottom: 1rem;
  }
  .div-form,
  .div-description {
    width: 40rem;
    margin: 4rem 0;
  }
  .div-description p {
    font-size: 1rem;
    padding: 1.5rem;
  }
  .div-form {
    margin-bottom: 5rem;
  }
  .div-picture-vue {
    margin-bottom: 2.5rem;
  }
  .div-description-vue {
    margin: 2.5rem 0 5rem 0;
  }
  .div-description-vue p {
    font-size: 1.2rem;
  }
  .div-nav {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  #menu-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #menu-nav ul li a {
    padding: 1rem;
    color: aliceblue;
  }
}
/* ------------------------------------------------------------------------------------------------------------- */
/* Screen min 768px and max 1024px */
@media (min-width: 48rem) and (max-width: 64rem) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
  header,
  main,
  footer {
    grid-column: 1/4;
  }
  .main-vue {
    margin: 0 2rem;
  }
  .div-picture-vue a img {
    height: 28rem;
    width: 32rem;
  }
  .div-description-vue {
    width: 32rem;
  }
}
/* ------------------------------------------------------------------------------------------------------------- */
/* Screen max 1024px */
@media (max-width: 64rem) {
  .div-logo-perso p {
    display: none;
  }
}
/* ------------------------------------------------------------------------------------------------------------- */
/* Screen min 1024px */
@media (min-width: 64rem) {
  .div-logo-perso p {
    position: absolute;
    top: 1rem;
    left: 5rem;
  }
  .div-bio p {
    font-size: 1rem;
    padding: 0 2.5rem 2.5rem 2.5rem;
  }
  .div-bio p a {
    font-size: 0.9rem;
  }
  .picture,
  .bio {
    height: 100%;
    width: 100%;
  }
}
/* ------------------------------------------------------------------------------------------------------------- */
/* Screen min 1024px and max 1224px */
@media (min-width: 64rem) and (max-width: 76.5rem) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
  header,
  main,
  footer {
    grid-column: 1/5;
  }
  .main-vue {
    margin: 0 2.5rem;
  }
  .div-picture-vue a img {
    height: 36rem;
    width: 40rem;
  }
  .div-description-vue {
    width: 40rem;
  }
}
/* ------------------------------------------------------------------------------------------------------------- */
/* Screen min 1224px and max 1824px */
@media (min-width: 76.5rem) and (max-width: 114rem) {
  .container {
    grid-template-columns: repeat(5, 1fr);
  }
  header,
  main,
  footer {
    grid-column: 1/6;
  }
  .main-vue {
    margin: 0 2.5rem;
  }
  .div-picture-vue a img {
    height: 44rem;
    width: 48rem;
  }
  .div-description-vue {
    width: 48rem;
  }
}
/* ------------------------------------------------------------------------------------------------------------- */
/* Screen min 1824px */
@media (min-width: 114rem) {
  .container {
    grid-template-columns: repeat(6, 1fr);
  }
  header,
  main,
  footer {
    grid-column: 1/7;
  }
  .main-vue {
    margin: 0 3rem;
  }
  .div-picture-vue a img {
    height: 52rem;
    width: 56rem;
  }
  .div-description-vue {
    width: 56rem;
  }
}/*# sourceMappingURL=style.css.map */